<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
</head>

<body>
  <div id="app">
    {{message}}
    <div>
      <span v-bind:title='message'>
        鼠标悬停查看信息
      </span>
      <div>
        <p @click="onclick">你看我</p>
        <transition name='fade'>
          <div v-if="flag">信息在这里</div>
        </transition>
      </div>
      <div>
        <button @click="show=!show">皮皮虾</button>
        <transition appear @before-appear="beforenter" @appear="enter" @after-appear="leave" :css="false">
          <p v-if="show">出发吧ppx</p>
        </transition>
      </div>
    </div>
  </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue',
      flag: true,
      show: true
    },
    methods: {
      onclick() {
        this.flag = !this.flag
      },
      beforenter(el) {
        el.style.opacity = 0
        el.style.transformOrigin = 'left'
      },
      enter(el, done) {
        Velocity(el, { opacity: 1, fontSize: '1.4em' }, { duration: 300 })
        Velocity(el, { fontSize: '1em' }, { complete: done })
      },
      leave(el, done) {
        Velocity(el, { translateX: '15px', rotateZ: '50deg' }, { duration: 600 })
        Velocity(el, { rotateZ: '100deg' }, { loop: 2 })
        Velocity(el, {
          rotateZ: '45deg',
          translateY: '30px',
          translateX: '30px',
          opacity: 0
        }, { complete: done })
      },
    }
  })
  console.log(app)
</script>
<style>
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
</style>

</html>